/*
* Sanchit Arora
* jadrn057
* Project #2
* Spring 2018
*/

/*================================= GENERAL ==================================*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 720px;
}

/*================================= CONTENT ==================================*/
#content {
    flex: 1 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*--------------------------------- SIDEBAR ----------------------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 60px;
    width:250px;
}

.sidenav label{

    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav input {

    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav label:hover, .sidenav input:hover , .sidenav p{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.form-check{
    margin-left: 3rem;
}
.filter-heading{
    margin-left: 1.25rem;
}
.input-size{
    width: 70px !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*------------------------------ PRODUCTS GRID -------------------------------*/
#get_product {
    background-color: rgba(220, 220, 220, 0.5);
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px 12px;
    align-items: flex-start;
    padding: 24px 24px 24px 252px;
}
#get_product .card-size {
    background-color: rgba(255, 255, 255, 1.0);
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#get_product img {
    height: 35vh;
    min-height: 160px;
    max-height: 320px;
}


/*========================== CLASSES TO ADD/REMOVE ===========================*/
.stock {
    color: #34C754;
}
.error  {
    color: #B20000;
}

