/*
* Sanchit Arora
* jadrn057
* Project #2
* Spring 2018
*/

/*================================ FOOTER ====================================*/
#footer {
    background-color: #000;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 16px 24px;
}
.footer-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#links-footer ul li {
    display: inline-block;
}
#links-footer ul li a {
    color: #fff;
    font-size: 90%;
    display: block;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#links-footer ul li a:visited {
    color: #DDD;
}
#links-footer ul li a:hover {
    color: #eee;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#footer p {
    color: #DDD;
    font-size: 90%;
    text-align: center;
    margin-top: 24px;
}


/*============================= MEDIA QUERIES ================================*/
@media screen and (max-width: 640px) {
    #footer_flex_container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}
