/*
* Sanchit Arora
* jadrn057
* Project #2
* Spring 2018
*/

/*================================= GENERAL ==================================*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*================================= CONTENT ==================================*/
#content {
    width: 100%;
    background-color: rgba(220, 220, 220, 0.5);
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px auto 0px auto;
}
.img-size {
    border: 1px solid black;
    width : 100px;
    height: 100px;
}

.confirmation_success {
    color: #1A8B21;
}
.confirmation_error, #error{
    color: #C90000;
}
